@{
    ViewBag.Title = "DbTools";
    <link href="/Content/admin.css" rel="stylesheet" type="text/css"/>
}


<div id="sidebar">
        <div id='vertical_menu' class="float-left">
            <ul>
                <li><a href='#'><span>Roles</span></a></li>
                <li><a href='#'><span>Users</span></a>
                <li><a href='#'><span>Movies</span></a></li>
                <li><a href='#'><span>Tags</span></a></li>
                <li><a href="#" class="active">Db Tools</a></li>
            </ul>
        </div>
    </div>
<div id="mainbar">
    <h2>Database Toos</h2>
    
    <h3>@ViewBag.Message</h3>
    @using (Html.BeginForm())
    {
        
        <input name="button" type="submit" value="Drop Tables"/><br />
        <input name="button" type="submit" value="Create Tables"/><br />
        <input name="button" type="submit" value="Drop And Create"/><br />
         <input name="button" type="submit" value="Full DB Build" /> <br />
        <input name="button" type="submit" value="Api"/><br />
         <input name="button" type="submit" value="omdb" /> <br />
         <input name="button" type="submit" value="Get Genres From Netflix" /> <br />

         <input name="button" type="submit" value="Full"/><br />
        @*
        <input name="button" type="submit" value="hash" /> <br />
        
        
        <input name="button" type="submit" value="Get Genres From Netflix" /> <br />
        <input name="button" type="submit" value="Update Genres In DB" /> <br />
       
        <input name="button" type="submit" value="Join Lines" /> <br />
       *@

    }
    
</div>