@{
    ViewBag.Title = "We Are The Watchers";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    
</hgroup>

<article>
    <p>
        We have been wokrign on this site dilligently for the past couple of months. It is out aim to bring to users a more 
        informative and complete Netflix experience. We have brought together information from all the major sources including
        <a href="http://www.netflix.com/">Netflix</a>, <a href = "http://www.rottentomatoes.com">Rotten Tomatoes</a>  
        and <a href="http://www.imdb.com/">IMDB.</a>
    </p>
    <p>We have brought together some basic functionality and features that we hope will get people interested in our 
        site as we continue ot develop it. As stated before we have some detailed movie information compiled from several sources for 
        the Netflix catalog; we hope that this in and of it's self is a god reason for people to check out our site.
        
    </p>
    <p> However do not be fooled, we will not stop and rest on our laurels, we have already implemented a member system where you
        can sign up for a user account. Currently this account allows you to tag movies with your own tags. This will hopefully 
        allow users to start finding movies and shows that are better suited to their tastes.
    </p>
    
    <p>
        We are always workign to bring new features and functionality to the site. If you have any ideas or suggestions please visit
        our <a href="~/Home/Feedback/">feedback page</a> and let us know what you would like to see or have implemented.
    </p>
    <p>We live by the philosophy that updates are a good thing, and that frequent updates keep your users happy and coming back for more.
        So check out the side bar and see what features and functionalities we have planned and are currently working on.
    </p>
        
</article>

<aside>
    <h3>Upcoming Features</h3>

    <ol>
        <li>Netflix Account Integration</li>
        <li>Queue interaction: sort and share your netflix queue with others!</li>
        <li>User pages: create a user profile and connect with friends.</li>
    </ol>
</aside>