    <script type="text/javascript">
    $(document).ready(function() {
            createDropDown();
            
            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a").html(text);
                $(".dropdown dd ul").hide();
                
                var source = $("#source");
                source.val($(this).find("span.value").html())
            });
        });
        
        function createDropDown(){
            var source = $("#source");
            var selected = source.find("option[selected]");
            var options = $("option", source);
            var headerSearch = document.getElementById("pseudo-select");
            
            
            $(headerSearch).append('<dl id="target" class="dropdown"></dl>')
            $("#target").append('<dt><a href="#">' + selected.text() + 
                '<span class="value '+ selected.val() +'">' + selected.val() + 
                '</span></a></dt>')
            $("#target").append('<dd><ul></ul></dd>')

            options.each(function(){
                $("#target dd ul").append('<li><a href="#" class="' + $(this).val() +'">' + 
                    $(this).text() + '<span class="value"'+ $(this).val() +'>' +
                    $(this).val() + '</span></a></li>');
            });
        }
    </script>

<div id="header-search" class="float-left">
@using (Html.BeginForm("Index", "Movies"))
{ 
    <div id="pseudo-select">@* javascript will append the pseudo-select element here so we can have a drop down tied to the select element that uses images ety*@</div>
    @*http://www.jankoatwarpspeed.com/wp-content/uploads/examples/reinventing-drop-down/#*@ 
   @* <dl id="search_type" class="dropdown" title="Select a search type">
        <dt><a href="#"><span> </span></a></dt>
        <dd>
            <ul>
                <li id="default"> <a href="#" title="Title / Genre Search"><img src="../../Content/Images/MenuItems/DefaultMenuIcon.png" /></a> </li>
                <li> <a href="#" id="tag" title="tag"><img src="../../Content/Images/MenuItems/TagMenuIcon.png" /></a> </li>
                <li> <a href="#" id="rt" title="rt"><img src="../../Content/Images/MenuItems/RTMenuIcon.png" /></a> </li>
                <li> <a href="#" id="rating" title="rating"><img src="../../Content/Images/MenuItems/RatingsMenuIcon.PNG" /></a> </li>
                <li> <a href="#" id="year" title="year"><img src="../../Content/Images/MenuItems/YearMenuIcon.png" /></a> </li>
                <li> <a href="#" id="stars" title="stars"><img src="../../Content/Images/MenuItems/NetflixStarMenuIcon.png" /></a> </li>
            </ul>
        </dd>
    </dl>*@
    
     <select id="source" name="source">
        <option name ="title" id="title" value="title">Title</option>
        <option name="genre" id ="genre" vaue="genre">Genre</option>
        <option name="tag" id="tag" value="tag"></option>
        <option name="rt" id="rt" value="rt"></option>
        <option name="rating" id="rating" value="rating"></option>
        <option name="year" id="year" value="year"></option>
        <option name="stars" id="stars" value="stars"></option>
    </select>
    
    @Html.TextBox("movie_title", "Enter a title", new { @class = "search-box" })
     
    
    
    <input type="submit" value="search" class="search-button" />
}
</div>