    <script type="text/javascript">
        $(document).ready(function () {
            /* dict to store img locations for selection img*/
            var dict = {
                "title": '<img class="menuImg" src="../../Content/Images/MenuItems/TitleMenuIcon.png" alt="Title" title="Search movies by title" />',
                "genre": '<img class="menuImg" src="../../Content/Images/MenuItems/GenreMenuIcon.png" alt="Genre" title="Search movies by genres" />',
                "tag": '<img class="menuImg" src="../../Content/Images/MenuItems/TagMenuIcon.png" alt="Tag" title="Search movies by user tags" />',
                "rt": '<img class="menuImg" src="../../Content/Images/MenuItems/RTMenuIcon.png" alt="Rotten Tomatoes" Title="Search movies by Rotten Tomatoes ratings"/>',
                "rating": '<img class="menuImg" src="../../Content/Images/MenuItems/RatingsMenuIcon.PNG" alt="Rating" title="Search movies by maturity rating" />',
                "year": '<img class="menuImg" src="../../Content/Images/MenuItems/YearMenuIcon.png" alt="Year" title="Search movies by year released />',
                "stars": '<img class="menuImg" src="../../Content/Images/MenuItems/NetflixStarMenuIcon.png" alt="Stars" title= "Search movies by Netflix star rating" />'
            };

            createDropDown();

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                var classString = $(this).attr("class").toString(); //get the class of the menu itme clicked
                var imgString = dict[classString]; // feed that class as a string into the dictionary to egt the correct <img>

                $(".dropdown dt a").html(imgString + text); //append the img text before the rest
                $(".dropdown dd ul").hide();

                var source = $("#source");
                source.val($(this).find("span.value").html())

            });

            $("#search").validate({

            });

        });
        
        function createDropDown(){
            var source = $("#source");
            var selected = source.find("option[selected]");
            var options = $("option", source);
            var headerSearch = document.getElementById("pseudo-select");


            $(headerSearch).append('<dl id="target" class="dropdown"></dl>')
            $("#target").append('<dt id="choice"><a href="#">' + selected.text() + 
                '<span class="value">' + selected.val() + 
                '</span></a></dt>')
            $("#target").append('<dd><ul></ul></dd>')

            options.each(function () {
                var titleDict = {
                    "title": "Search movies by title",
                    "genre": "Search movies by genres",
                    "tag": "Search movies by user tags",
                    "rt": "Search movies by Rotten Tomatoes ratings",
                    "rating": "Search movies by maturity rating",
                    "year": "Search movies by year released",
                    "stars": "Search movies by Netflix star rating"
                };

                $("#target dd ul").append('<li><a href="#" class="' + $(this).val() + '" title="'+ titleDict[$(this).val()] +'">' +  
                    $(this).text() + '<span class="value">' +
                    $(this).val() + '</span></a></li>');
            });
        }

        

        
    </script>

<div id="header-search" class="float-left">

    <div id="pseudo-select">@* javascript will append the pseudo-select element here so we can have a drop down tied to the select element that uses images ety*@</div>
    @*http://www.jankoatwarpspeed.com/wp-content/uploads/examples/reinventing-drop-down/#*@ 
  @using (Html.BeginForm("Index", "Movies", FormMethod.Post, new { @id = "search" }))
  { 
     <select id="source" name="source">
        <option name ="title" id="title" value="title" selected="selected"></option>
        <option name="genre" id ="genre" value="genre"></option>
        <option name="tag" id="tag" value="tag"></option>
        <option name="rt" id="rt" value="rt"></option>
        <option name="rating" id="rating" value="rating"></option>
        <option name="year" id="year" value="year"></option>
        <option name="stars" id="stars" value="stars"></option>
    </select>
    
    @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "search-box" })
     
    
    
    <input type="submit" value="search" class="search-button" />
  }
</div>