@model Dictionary<String, int>

@{
    ViewBag.Title = "All tags added by Users";
}

<h2>Tag Index</h2>

<table>
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <a href="~/Tag/Details?tagName=@item.Key">@item.Key</a>
        </td>
        <td>
            @item.Value
        </td>
    </tr>
}

</table>
