@using NextFlicksMVC4.Models.TagModels;
@model TagCountViewModel


@{
    ViewBag.Title = "All tags added by Users";
}

<h2>Tag Index</h2>

<table>
    <tr>
        <th></th>
    </tr>

    <div class="display-field">
            @foreach (KeyValuePair<string, int> kvp in Model.TagAndCount)
            {
                <tr>
                    <td>
                        <a href="~/Tag/Details?tagName=@kvp.Key" class="tag" 
                         title="Tagged @kvp.Value.ToString() times. Click for more info.">@kvp.Key </a>
                    </td>
                    <td>
                        @kvp.Value
                    </td>
                </tr>
                
            }
</table>
