@model IEnumerable<NextFlicksMVC4.Models.userAccount.Users>

@{
    ViewBag.Title = "Index";
}

<div class="subheader">
    <h1 id="user_displayname">@WebSecurity.CurrentUserName</h1>
    <div class="subheader-links"> 
        @Html.ActionLink("Change Password", "Password")
        
    </div>
</div>
<div class="clear-fix:after"></div>
<div id="user_info">
    @foreach(var item in Model)
    {
        @Html.DisplayFor(modelItem => item.Username) <br />
        @Html.DisplayFor(modelItem => item.email)
    }
</div>
<div id="user_queue">Add access to users netflix queue here</div>
<div id="user_tags">
add a list of all tags by user in this area here
</div>
<div id="user_reviews">
add a link to all the users reviews, allow them to edit / delte etc.
</div>


