@model NextFlicksMVC4.Models.Movie
@* This is a page for showing each individual title/Movie

Will need to show all the relevant data here. Title, Year, Length, MPAA Rating  *@
<div id=@Html.DisplayFor(model => model.movie_ID) class="title_entry">
    <div class="title_title">
        @Html.DisplayFor(model => model.short_title)
    </div>
    <div class="title_year">
        @Html.DisplayFor(model => model.year)
    </div>
    <div class="title_runtime">
        @Html.DisplayFor(model => model.runtime)
    </div>
    <div class="title_maturity">
        @Html.DisplayFor(model => model.maturity_rating)
    </div>
    <div class="title_webpage">
        <a href=@Html.DisplayFor(model => model.web_page) >Movie Page</a>
    </div>
</div>
<br />
