@model IEnumerable<NextFlicksMVC4.Models.Movie>

@{
    ViewBag.Title = "API Call done";
}

<h2>Finished API Call</h2>

<p>The API call was successfully completed. It was not parsed or anything, beyond downloaded and saved</p>