@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
             @if (ViewBag.cookies == true)
             { 
             <p>cookies is true</p>
             }
             else
             {
             <p>cookies is false</p>    }
    </div>
</body>
</html>
