@model string
@{
    ViewBag.Title = "FilterHandler";
}
<h2>
    FormResults</h2>

    @Html.Encode(ViewData["name"])
    
    
    @foreach (var item in ViewData)
    {
        @Html.Encode(item)
    }